@{
    ViewData["Title"] = "Midterm Exam";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>Midterm Exam</h1>
    <a href="/TakeTest" class="btn btn-primary btn-lg" style="font-size: 30px; padding: 20px 40px;">
        Start Exam
    </a>
</div>
